.product {
    padding-bottom: calc(var(--product-detail-height) + 20px);
    &__tab {
        &:first-child {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: white;
            padding: 20px 0 0 0;
        }
    }
}
.intercalaire,
.intercalaire__active {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}
.intercalaire {
    border-top: 1px solid white;
    &:first-child {
        width: 48px;
    }
    &__active {
        width: 100%;
        border-top: none;
    }
    &__icon {
        width: 24px;
        height: 24px;
        background-color: grey;
    }
}

/* Tablette portrait */
@media (min-width: 768px) {
    .product {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 20px;
        padding: 20px;
        box-sizing: border-box;
        overflow: hidden;
        height: 80%;
        &__tab {
            height: 100%; /* chaque section peut s'adapter à son contenu */
            border: 1px solid;
            overflow: scroll; /* laisse chaque tab scroller naturellement si nécessaire */
            &:first-child {
                position: static;
                width: 100%;
                background: none;
                padding: 0;
            }
        }

        &__price {
            font-weight: 700;
            font-size: 36px; /* un peu plus petit que desktop */
        }
    }

    .intercalaire {
        display: none;
    }
}

@media (min-width: 1024px) {
    .product {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        &__price {
            font-weight: 700;
            font-size: 54px;
        }
    }
}
