.product__details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    &__container {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__definition {
        margin-bottom: 8px;
        &__title {
            font-size: 1rem;
            font-weight: bold;
        }
    }
    &__purchase {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        // padding: 20px 0;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.product {
    &__colors {
        display: flex;
        gap: 0.5rem;
        &__circle {
            width: 16px;
            height: 16px;
            @include mixins.border-radius(100%);
            border: 1px solid white;
        }
    }
}
.product__selector {
    display: flex;
    width: 100%;
    &__return {
        width: 48px;
        @include mixins.flex__center;
        border-top: 1px solid white;
        padding: 0.5rem;
    }
}

.product__cta {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -4%;
    padding: 8px 16px;
    border: 1px solid white;
}

@media (min-width: 768px) {
    .product__details {
        position: sticky;
        top: 0;
    }
    .product__selector {
        &__return {
            color: white;
            border: 0;
        }
    }
}
