.header {
    position: fixed;
    display: flex;
    z-index: 100;
    &__top {
        top: 0;
        width: 100%;
        justify-content: center;
        align-items: flex-end;
        background: var(--bg-kiosque-header);
    }
    &__bottom {
        bottom: 0;
        width: 100%;
        justify-content: center;
        align-items: flex-start;
        background: var(--bg-active);
        border-top: 1px solid var(--text-active);
    }
    &__left {
        height: 100%;
        justify-content: flex-end;
        background: var(--bg-boutique-header);
    }
    &__right {
        height: 100%;
        right: 0;
        background: var(--bg-galererie-header);
    }
}

.header {
    &__profile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
