.polaroid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
    height: 100%;
    @include mixins.border-radius(0.1rem);
    &__photo {
        border: 1px solid black;
    }
}
